[Unit]
Description=ZakazNoszeniaBroni - Parser DU
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/home/mat/duparser
ExecStart=/usr/local/bin/docker-compose -f docker-compose-prod.yml up -d
ExecStop=/usr/local/bin/docker-compose -f docker-compose-prod.yml down

[Install]
WantedBy=multi-user.target
