Dzień dobry,
otrzymujesz tę wiadomość, ponieważ został ogłoszony zakaz noszenia broni.

Szczegóły rozporządzenia:
  data publikacji:  {{ date }}
  numer:  {{ number }}/{{ year }}
  link: {{ pdf_url }}


Data publikacji rozporządzenia nie jest datą obowiązywania zakazu.
Aby sprawdzić szczegóły przeczytaj pełną treść rozporządzenia.



Wiadomość wysłana z serwisu https://zakaznoszeniabroni.pl .
Jeśli nie chcesz otrzymywać więcej takich powiadomień, usuń swój adres z bazy danych wchodząc na strone:
https://zakaznoszeniabroni.pl/rejestracja.php?usun={{ unregister_key }}

Wiadomość wysłana automatycznie. Proszę na nią nie odpowiadać.
