<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  </head>
  <body>
    Dzień dobry,<br>
    otrzymujesz tę wiadomość, ponieważ zarejestrowałeś się na stronie <a href="https://zakaznoszeniabroni.pl">https://zakaznoszeniabroni.pl</a>.
    <br>
    <br>
    Twoje konto <b>wymaga aktywacji</b>. Aby dokonać aktywacji klilnij w
    <a href="https://zakaznoszeniabroni.pl/rejestracja.php?potwierdz={{ confirmation_string }}">ten link</a>
    <br>
    <br>
    Rejestracja i aktywacja jest tożsama z wyrażeniem zgody na przesyłanie korespondecji e-mail dotyczącej ogłaszanych <i>zakazów noszenia lub przemieszczania broni palnej</i> na terenie Polski.
    <br>
    <br>
    Wiadomość wysłana z serwisu <a href="https://zakaznoszeniabroni.pl">https://zakaznoszeniabroni.pl</a>.
    Jeśli nie chcesz otrzymywać więcej takich powiadomień, usuń swój adres z bazy danych klikając w <a href="https://zakaznoszeniabroni.pl/rejestracja.php?usun={{ confirmation_string }}">link</a>.<br>
    Wiadomość wysłana automatycznie. Proszę na nią nie odpowiadać.
  </body>
</html>
