Dzień dobry,
otrzymujesz tę wiadomość, ponieważ zarejestrowałeś się na stronie https://zakaznoszeniabroni.pl .

Twoje konto wymaga aktywacji. Aby dokonać aktywacji przejdź na stronę:
https://zakaznoszeniabroni.pl/rejestracja.php?potwierdz={{ confirmation_string }}

Rejestracja i aktywacja jest tożsama z wyrażeniem zgody na przesyłanie korespondecji e-mail dotyczącej ogłaszanych zakazów noszenia lub przemieszczania broni palnej na terenie Polski.



Wiadomość wysłana z serwisu https://zakaznoszeniabroni.pl .
Jeśli nie chcesz otrzymywać więcej takich powiadomień, usuń swój adres z bazy danych wchodząc na strone:
https://zakaznoszeniabroni.pl/rejestracja.php?usun={{ confirmation_string }}

Wiadomość wysłana automatycznie. Proszę na nią nie odpowiadać.
